/* Universal selector - styles applied to all html elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element selector */
body {
  background-color: #d9dcd6;
}
p {
  font-size: 16px;
}

/* Header section */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

h1 {
  display: inline-block;
  font-size: 48px;
}
/* Class selector */
.seo {
  color: #d9dcd6;
}
/* Element selector works to target the nav element*/
nav {
  display: inline-block;
  padding-top: 15px;
  margin-right: 20px;
  /* float: right; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* To target li elemets, li element selector has been used. */
li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
/* End of header section  */

/* Main section  */
/* Removed background image form .hero */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}
.content {
  width: 75%;
  height: 100%;
  display: inline-block;
  margin-left: 20px;
}
.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Consolidated all articles inside of .content */
.content article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* All images inside of class= content grouped together */
.content img {
  max-height: 200px;
}
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* End of Main */

/* Start of Aside */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* grouped all section inside class= benefit together as they share the same attributes */
.benefit section {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Consolidated all images inside of class= benefits to have same img style */
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* End of Aside */

/* Footer */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Id sepector specific to the first p element in the footer */
#footer-note {
  font-size: 20px;
}
/* End of footer */
